{% extends "layout.html" %}
{% block content %}
<form action="/teams/new" method="POST">
    <div class="row">
        <div class="col">
            <label for="TeamName">TeamName</label>
            <input id="TeamName" type="text" class="form-control" placeholder="TeamName" name="TeamName">
        </div>
        <div class="col">
            <label for="TeamPayroll">TeamPayroll</label>
            <input id="TeamPayroll" type="text" class="form-control" placeholder="TeamPayroll"
                   name="TeamPayroll">
        </div>
        <div class="col">
            <label for="TeamWins">TeamWins</label>
            <input id="TeamWins" type="text" class="form-control" placeholder="TeamWins" name="TeamWins">
        </div>
    </div>


    <button type="submit" class="btn btn-success">Success</button>

</form>

{% endblock %}